body{
  overflow: scroll;
}

.text-cap {
  text-transform: capitalize;
}

.grey {
  background: rgb(200, 188, 188);
}

.purple {
  background: purple;
  width: 100vw;
}

.bg-white {
  color: #fff;
}

.img-smaller,
img {
  width: 100%;
}

nav small {
  display: flex;
  text-transform: capitalize;
  color: #fff;
  margin-left: 12px;
  align-items: center;
}

input[type='text'] {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: 0;
}

textarea {
  margin: 10px auto;
  display: block;
  width: 100%;
  padding: 0.5rem;
}

.mt {
  margin-top: 20px;
}

.center {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submitBtn {
  color: #fff;
  background: purple;
  padding: 7px;
  border-radius: 0.3rem;
  margin-top: 20px;
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
}

.justify-end {
  justify-content: end;
}

.text-uppercase {
  text-transform: uppercase;
}

.newBtn {
  display: inline-block;
}

.flexNew {
  display: flex;
}

.align-items-center {
  align-items: center;
  justify-content: space-between;
}

.pd-2x {
  padding: 5px 15px;
}

.bold {
  font-weight: bolder;
}

.block {
  display: block;
}

.entriesNav {
  display: flex;
  align-items: center;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 550;
}

.entriesNav:hover {
  opacity: 0.9;
}

button {
  cursor: pointer;
}

/* branch 3 styling */

.fontAwesomeIcons {
  float: right;
  cursor: pointer;
}

.fontAwesomeIcons_sizes {
  font-size: 19px;
}

button.delEntry{
  color:#000;
  border:0;
background:none;
text-decoration: underline;
text-decoration-color: red;
margin:5px;
font-size:15px
}

/* i:hover{cursor: pointer;opacity:.8;color:rgb(0, 106, 255)} */




/* Modal classes */


.modal-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items:center

}

.modal-button-confirm{
    padding: 10px 30px;
      margin: 10px;
      border: 0;
      border-radius: .4rem;
      background: rgb(0, 255, 0);
      transition: .3s all ease-in-out
}

.opacity-smaller{background:green}




/* delete entry a tag custom's here */
.delEntry{
  text-decoration:none;
  border-bottom:red 1.2px solid;
  width:75.1px;
  color:red
}


.modal-deny{
  padding:10px 30px;
  margin:10px;
  border: 0;
  border-radius: .4rem;
  background-color:red;
  transition: .3s all ease-in-out
}

.modal-content-inner-center{
  height:50vh;
  margin-top: 40vh;
}


.confirmation{text-align: center}


.btn-sized{font-size:16px}

/* chaging the color of the modal header/text */

.modal-js-content-styling{font-family:sans-serif;color:yellow}



.white-modal-button{color:#e0e0e0}


.button-confimation{
  padding:5px;
  margin:10px;
}

.scaled{
  transform:scale(1.1);
  transition: .4s all ease-in-out;
}


.overflow_hide{overflow: hidden;}




/* When modal is opene'd give the body an overlay */

.overlay {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(transparent, #000000);
  bottom: 0;
  right:0;
  top:0;
}
