.text-cap {
  text-transform: capitalize;
}

.grey {
  background: rgb(200, 188, 188);
}

.purple {
  background: purple;
  width: 100vw;
}

.bg-white {
  color: #fff;
}

.img-flex {
  display: flex;
  justify-content: center;
}

.block {
  display: block;
  margin: 10px auto;
}

.img-smaller {
  height: 28vh;
  margin: auto auto 20px;
  display: block;
}

.height_change_compact {
  height: 100px;
}

input[type='text'] {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: 0;
}

textarea {
  margin: auto;
  display: block;

  /* flex-direction: column; */
}

/*
label[for='txtarea']{
  margin: 95px;
  color:red
} */

.center {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submitBtn {
  color: #fff;
  background: purple;
  padding: 7px;
  border-radius: 0.3rem;

  /* margin-right: 53px; */

  /* position: relative;
  left:0%;
  right:0%; */
  margin: 10px;
  display: block;
  border: 0;

  /* float: right; */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
  position: relative;
  top: 10px;

  /* right: 20px; */
  float: right;
}

.desktop_txtarea {
  color: #fff;
  background: purple;
  padding: 7px;
  border-radius: 0.3rem;
  margin-right: 52px;
  margin-bottom: 20px;
  display: block;
  border: 0;
  float: right;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
}

/* mobile styling */
