.text-cap {
  text-transform: capitalize;
}

.grey {
  background: rgb(200, 188, 188);
}

.purple {
  background: purple;
  width: 100vw;
}

.bg-white {
  color: #fff;
}

.img-smaller,
img {
  width: 100%;
}

nav small {
  display: flex;
  text-transform: capitalize;
  color: #fff;
  margin-left: 12px;
  align-items: center;
}

/* git purposes */
input[type='text'] {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: 0;
}

textarea {
  margin: 10px auto;
  display: block;
  width: 100%;
  padding: 0.5rem;
}

.mt {
  margin-top: 20px;
}

.center {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submitBtn {
  color: #fff;
  background: purple;
  padding: 7px;
  border-radius: 0.3rem;
  margin-top: 20px;
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
}

/* mobile styling */
.justify-end {
  justify-content: end;
}

.text-uppercase {
  text-transform: uppercase;
}

.newBtn {
  display: inline-block;
}

.flexNew {
  display: flex;
}

.align-items-center {
  align-items: center;
  justify-content: space-between;
}

/* NEW btn making */

.pd-2x {
  padding: 5px 15px;
}

.bold {
  font-weight: bolder;
}

.block {
  display: block;
}

.entriesNav {
  display: flex;
  align-items: center;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 550;
}

.entriesNav:hover {
  opacity: 0.9;
}

/* universal btn class */

button {
  cursor: pointer;
}
